.frijole-regular {
  font-family: "Frijole", system-ui;
  font-weight: 400;
  font-style: normal;
}

.newsreader {
  font-family: "Newsreader", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.thasadith-bold {
  font-family: "Thasadith", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: large;
}

