* {
  margin: 0;
}
/* main */
.bg-set {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
    url("/images/image.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-color {
  background: #000000; /* fallback for old browsers */
}

.border--1 {
  border: #00317b 2px solid;
}
.ms--5 {
  margin-left: 10px;
}
.bg--color {
  background-color: #090a12;
  color: #00bbd4e8;
}

.text-title {
  color: #00bbd4e8;
  font-size: 48px;
}

/* Features  */
.card-edit-border {
  position: relative;
  border: none; /* ปิด border เดิมของ bootstrap */
}

.card-edit-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%; /* เส้นบน */
  height: 30%; /* เส้นซ้าย */
  border-top: 5px solid #00317b;
  border-left: 5px solid #00317b;
  border-radius: 24px 0 0 0; /* โค้งมุมเล็กน้อย */
}

.card-edit-border::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%; /* ขอบล่าง */
  height: 30%; /* ขอบขวา */
  border-bottom: 5px solid #00317b;
  border-right: 5px solid #00317b;
  border-radius: 0 0 24px 0;
}

.feature-card {
  width: 18rem;
}

.feature-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-icon img {
  width: 100px;
  height: auto;
}

/* section form */
.form-control {
  background-color: #e9e9e9;
  border: none;
  border-radius: 20px;
  padding: 12px 20px;
  margin-bottom: 15px;
}

textarea.form-control {
  border-radius: 20px;
  height: 150px;
}

.contact-icon {
  max-width: 80%;
  height: auto;
}
h2 {
  font-weight: bold;
  margin-bottom: 30px;
}

/* icon contact */
.icon-box {
  width: 100px;
  height: 50px;
  background-color: #1877f2; /* Facebook blue */
  border-radius: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.icon-box:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.img-icon-contact {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1); /* ทำให้ icon เป็นสีขาว */
}

.icon-box-black {
  width: 100px;
  height: 50px;
  background-color: #000000; /* Facebook blue */
  border-radius: 24px;
  border: solid 1px white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.icon-box-black:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
